<div class="container mt-5 mb-5">
  <h2 class="text-center mb-4 text-warning fw-bold">Login</h2>

  <div class="d-flex justify-content-center align-items-center">
    <div class="card p-3 text-center" style="background-color: aliceblue;">
      <form (ngSubmit)="salvar()">
        <div *ngIf="mensagem" class="alert alert-danger">{{ mensagem }}</div>
        <div class="col-12">
          <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" [(ngModel)]="dados.email" name="email" class="form-control" id="email" required (input)="limparMensagem()"/>
        </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" [(ngModel)]="dados.senha" name="senha" class="form-control" id="password" required (input)="limparMensagem()"/>
        </div>
        </div>
        <button type="submit" (click)="validacao()" class="btn btn-warning">Entrar</button><br>
        <a href="#" routerLink="/usuario/cadastrar" >Nao possui uma conta? Cadastre-se</a>
      </form>
    </div>
  </div>
</div>
