<footer class="footer mt-auto py-3 bg-dark text-light border-top border-warning">
  <div class="container text-center text-md-start">
    <div class="row align-items-center">
      <!-- Logo e descrição -->
      <div class="col-md-4 mb-3 mb-md-0">
        <h5 class="text-center mb-1">Catálogo de Skins e Cosméticos Fortnite</h5>
        <small class="text-muted">
          Sistema de compra de itens cosméticos.
        </small>
      </div>
      <div class="col-md-8 text-md-end text-center">
        <small class="text-secondary">
          © {{ anoAtual }} Catálogo de Skins e Cosméticos Fortnite — Todos os direitos reservados.
        </small>
      </div>
    </div>
  </div>
</footer>
